/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Nov-2017, 1:37:32 PM
    Author     : cfedun
*/

@import "forms.css";
body {
    background-color: skyblue;
}

footer {
    clear: both;
}

.delete {
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
}
.delete:hover {
    font-weight: bolder;
    color: blue;
    text-decoration: underline;

}
.pointer {
    cursor: pointer;
}
.td_alignLeft {
    text-align: left;
    padding: 0.5em 1.7em 0.5em 0.3em;
}
.td_alignRight {
    text-align: right;
    padding: 0.5em 0.3em 0.5em 1.7em;
}

.center {
    text-align: center;
}
.clear_before:before {
    clear: both;
}
.clear:after {
    clear: both;
    content: "";
    display: table;
}

.sort {
    cursor: pointer;
}

.sort:after {
    text-decoration: underline;
}

.error, .success{
    font-size: 1.17em;
}
.error {
    color: red;
}
