/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Nov-2017, 1:37:32 PM
    Author     : cfedun
*/

body {
    background-color: skyblue;
}

.delete {
    font-style: oblique;
    font-weight: bold;
}

.delete:hover {
    font-weight: bolder;
    color: blue;
    text-decoration: underline;
}
.td_alignLeft {
    text-align: left;
}
.td_alignRight {
    text-align: right;
}

.center {
    text-align: center;
}