/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Nov-2017, 8:29:23 PM
    Author     : cfedun
*/

body {

}
.display_inline {
    display: inline;
}
.display_none {
    display: none;
}
label, input {
    display: inline-block;
    position: relative;
}
input, select {
    margin: 0 0 0.5em 0.4em;
}
input {
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 95%;
}

input[type=text], input[type=email]  {
    box-sizing: border-box;
}
input[type=email] {
    width: 55%; 
}
input[type=text] {
    width: 30%;
}
input[type=number] {
    width: 5em;
}
input[type="submit"] {
    margin: 0.25em;
    width: 8.25em;
}
input + input {
    float: right;
}
textarea {
    width: 50em;
    height: 6em;
    margin: 0.5em 0;
}
label {
    text-align: right;
    width: 25%;
}
label.add_margin {
    margin-bottom: 2em;
}
label.add_padding {
    padding-bottom: 2em;
}
label.valign {
    display: inline-block;
    vertical-align: middle;
}
section.test_section, .container {
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
section.test_section {
    padding: 0.5em;
    margin: 0.5em 0;
}
.container {
    padding-left: 8.65%; /*5em;*/
    padding-right: 8.65%; /*5em;*/
}
section.inputs {
    /*text-align: center;*/
}
fieldset {
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.5em 0;
    border-style: outset;
    border-width: 2px;
}

#button {
    border-radius: 0.375em;
}
.my_button {
    border: 1px solid green;
    color: black;
    padding-top: 0.325em;
    padding-bottom: 0.325em;
    background-color: silver;
    width: 8.25em;
    margin-top: 1em;
    margin-bottom: 3.25em;
}
.my_button:target, .my_button:hover {
    border-color: lightblue;
}


div.center {
    text-align: center;
}
.right {
    float: right;
}
.flex, .column {
    display: -webkit-flex;
    display: flex;
}
.column {
    -webkit-flex-direction: column;
    flex-direction: column;
}


form.column {
    margin: 1em;
}

#Accounts, #Aliases, #Domains {
    float: left;
}
#accountcreation, #aliascreation, #redirectCreation, #domainCreation {
    float: right;

}

#aliascreation, #redirectCreation {
    max-width: 50%
}

#domainCreation {
    max-width: 40%
}

#accountcreation {

}


@media only screen and (max-width: 599px) {/* styles for phone*/ 

}
@media only screen and (min-width: 520px) {

}
@media only screen and (max-width: 575px) {
    table {
        display: none;
    }
}
@media only screen and (min-width: 600px) { /* styles for tablet portrait*/ }
@media only screen and (min-width: 900px) { /* styles for tablet landscape*/ }
@media only screen and (min-width: 1200px) { /* styles for desktop*/
    #Accounts, #Aliases, #Domains {
        max-width: 60%;
    }	
    #accountcreation, #aliascreation, #redirectCreation, #domainCreation {
        max-width: 50%
    }
}
@media only screen and (min-width: 1700px) {

}
@media only screen and (min-width: 1800px) { /* styles for big desktop*/}
