/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Nov-2017, 8:29:23 PM
    Author     : cfedun
*/

.display_inline {
    display: inline;
}
.display_none {
    display: none;
}
label, input {
    display: inline-block;
    position: relative;
}
input, select {
    margin: 0 0 0.5em 0.4em;
}
input {
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 95%;
}

input[type=text], input[type=email]  {
    box-sizing: border-box;
}
input[type=email] {
    width: 55%; 
}
input[type=text] {
    /*width: 30%;*/
    width: 10em;
}
input[type=number] {
    width: 5em;
}
input[type=password] {
    max-width: 80%;
    width: 14em;
}
input[type="submit"] {
    margin: 0.25em;
    width: 8.25em;
}
input + input {
    float: right;
}
textarea {
    width: 50em;
    height: 6em;
    margin: 0.5em 0;
}
label {
    text-align: right;
    width: 25%;
}
label.add_margin {
    margin-bottom: 2em;
}
label.add_padding {
    padding-bottom: 2em;
}
label.valign {
    display: inline-block;
    vertical-align: middle;
}
section.test_section, .container {
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
section.test_section {
    padding: 0.5em;
    margin: 0.5em 0;
}
.container {
    padding-left: 8.65%; /*5em;*/
    padding-right: 8.65%; /*5em;*/
}
section.inputs {
    /*text-align: center;*/
}
fieldset {
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.5em 0;
    border-style: outset;
    border-width: 2px;
}

#button {
    border-radius: 0.375em;
}
.my_button {
    border: 1px solid green;
    color: black;
    padding-top: 0.325em;
    padding-bottom: 0.325em;
    background-color: silver;
    width: 8.25em;
    margin-top: 1em;
    margin-bottom: 3.25em;
}
.my_button:target, .my_button:hover {
    border-color: lightblue;
}


div.center {
    text-align: center;
}
.right {
    float: right;
}
.flex, .column {
    display: -webkit-flex;
    display: flex;
}
.column {
    -webkit-flex-direction: column;
    flex-direction: column;
}


form.column {
    margin: 1em;
}
.fieldset {
    border: 2px groove threedface;
    border-top: none;
    padding: 0.5em;
    margin: 1em 2px;
}

.fieldset>h1 {
    font: 1.17em bolder; 
    margin: -1em -0.5em 0;
}

.fieldset>h1>span {
    float: left;
}

.fieldset>h1:before {
    border-top: 2px groove threedface;
    border-left: 2px groove threedface;
    content: ' ';
    float: left;

    margin: 0.5em 2px 0 0;
    width: 0.75em;
}

.fieldset>h1:after {
    border-top: 2px groove threedface;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 2px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.5em;
}
#Accounts, #Aliases, #Domains {
    float: left;
}
#Accounts:after, #Aliases, #Domains {
    clear: both;
}
#accountcreation, #resetPass, #aliascreation, #redirectCreation, #domainCreation {
    clear: left;
    float: right;

}


#accountcreation, #resetPass, #aliascreation, #redirectCreation {
    /*min-width: 28.125em;*/
    min-width: 30.365em;
    width:auto;
}

#aliascreation, #redirectCreation, #resetPass {
    /*max-width: 50%;*/
    /*width: 28.125em; 450px;*/
}
#domainCreation {
    /*max-width: 40%;*/
    width: 20em;
}

#accountcreation {
    /*width: 28.125em; 450px;*/
}


@media only screen and (max-width: 599px) {/* styles for phone*/ 

}
@media only screen and (min-width: 520px) {
    #Domains {
        float: none;
    }
}
@media only screen and (max-width: 575px) {
    table {
        display: none;
    }
}
@media only screen and (min-width: 600px) { /* styles for tablet portrait*/ }
@media only screen and (min-width: 900px) { /* styles for tablet landscape*/ }
@media only screen and (min-width: 916px) {
    #Accounts {
        float: none;
    }
}
@media only screen and (min-width: 1200px) { /* styles for desktop*/
    #Accounts, #Aliases, #Domains {
        /*max-width: 60%;*/
    }	
    #accountcreation, #aliascreation, #redirectCreation, #domainCreation {
        /*max-width: 50%;*/
    }
}

@media only screen and (max-width: 1542px) {
    #Aliases {
        float: none;
    }
}

@media only screen and (min-width: 1543px) {
    #Accounts, #Aliases, #Domains {
        float: left;
    }
    #Accounts:after, #Aliases:after, #Domains {
        clear: both;
    }
    #accountcreation, #resetPass, #aliascreation, #redirectCreation, #domainCreation {
        clear: left;
        float: right;

    }


    #accountcreation, #resetPass, #aliascreation, #redirectCreation {
        /*min-width: 28.125em;*/
        min-width: 30.365em;
        width:auto;
    }

    #aliascreation, #redirectCreation, #resetPass {
        /*max-width: 50%;*/
        /*width: 28.125em; 450px;*/
    }
    #domainCreation {
        /*max-width: 40%;*/
        width: 20em;
    }

} 
@media only screen and (min-width: 1700px) {

}
@media only screen and (min-width: 1800px) { /* styles for big desktop*/}
