@import "nav_bar.css";
@import "slicknav.css";

#mobile_menu {
    display: none;
}
#navbar {
    display: block;
}
@media screen and (max-width: 703px) {
    #mobile_menu {
        display: block;
    }
    #navbar{
        display: none;
    }
}